# Python virtuelle Umgebung
.venv/
venv/
ENV/
rohdaten/

# Reflex Build-Ordner und Cache
.web/
__pycache__/
*.py[cod]

# Umgebungsvariablen (Sensible Daten)
.env

# Ordner ignorieren
docs/

*.tmp.driveupload